* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#envelope {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

#head-envelope {
  width: 300px;
  height: 70px;
  border-radius: 0 0 100% 100%;
  background: pink;
  margin-bottom: 10px;
  position: fixed;
  top: 0px;
  transition: transform 0.7s ease-in-out;
  transform-origin: top center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#body-envelope {
  width: 300px;
  height: 190px;
  background: #ff6b6b;
  border-radius: 0 0 15px 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding-top: 40px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.card-content {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease;
  color: white;
}

.card-content h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 16px;
  margin-bottom: 15px;
}

#btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#btn,
#close {
  margin-top: 20px;
  background: white;
  color: #ff6b6b;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

#btn:hover {
  background: red;
  color: white;
}
#close:hover {
  transform: scale(1.1);
}

.aktif {
  transform: rotateX(180deg);
  top: 140px;
}

.show-content {
  opacity: 1;
  transform: translateY(0);
}
